/** @format */

.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 70px;
  background-color: rgb(255, 255, 255);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(209, 209, 209);
  z-index: 200;
}
.sidebar-link {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover {
  border: none;
  border-radius: 10px;
  background-color: rgb(202, 200, 199);
}
.sidebar-link img {
  height: 40px;
}
.sidebar-link div {
  font-family: Robot, Arial;
  font-size: 10px;
}
